html {
	height: 100%;
}

body,
body * {
	@include roboto;
}

body {
	position: relative;
	display: grid;
	grid-template-rows: min-content 1fr;
	min-height: 100%;
	font-size: 14px;
	line-height: 1.2;
	color: $black;
	letter-spacing: 0.25px; // Material design
	background-color: $white;
}

/* stylelint-disable property-no-vendor-prefix */
// hide arrow for input type=number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

// hide arrow for input type=number
input[type='number'] {
	-moz-appearance: textfield;
}

.title {
	@include clear-title;
	@include title;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.invisible-container {
	position: absolute;
	top: -9999px;
	left: -9999px;
	z-index: -1;
	width: 0;
	height: 0;
	overflow: hidden;
}

.overflow-hidden {
	overflow: hidden;
}

.hidden {
	display: none !important;
}
