.credit-card {
	box-sizing: border-box;
	display: grid;
	grid-template-rows: repeat(7, min-content);
	grid-template-columns: repeat(4, 1fr);
	gap: $base * 6 0;
	max-width: $base * 137.5;
	padding: $base * 6 $base * 7.5 $base * 11.5;
	background-color: $white;
	border: $border;
	border-radius: 5px;
	box-shadow: $box-shadow;

	@media (min-width: $breakpoint-sm-max) {
		grid-template-rows: repeat(3, min-content);
		gap: $base * 6 $base * 7.5;
		align-items: end;
	}

	&__field-name-card {
		grid-column: 1 / 5;
	}

	&__field-namber-card {
		@media (max-width: $breakpoint-sm-min) {
			grid-column: 1 / 3;
		}
	}

	&__field-expire-date,
	&__field-cvv-code {
		@media (max-width: $breakpoint-sm-min) {
			grid-column: 1 / 5;
		}
	}
}
